:root {
	--caribbean-current: #0e6c71ff;
	--midnight-green: #15606eff;
	--midnight-green-2: #0e3646;
	--indigo-dye: #00263f;
	--delft-blue: #2b3d65ff;
	--delft-blue-2: #323262ff;
	--russian-violet: #39265fff;
	--light-teal: #d4e8e9;
    --electric-teal: #00b2ca;
	--black-green: #0c303d;
}
