@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@500..700&display=swap");

:root {
	font-family: "Quicksand", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 500;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

h1,
h2,
h3 {
	line-height: 1.1;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

@media (min-width: 768px) {
	main {
		scroll-snap-type: y mandatory;
	}

	section {
		scroll-snap-align: start;
	}
}
